<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url("assets/images/paper.jpg");
        }
    </style>
    <title>Avocado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet/less" type="text/css" href="assets/less/list.less" />
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!------ Include the above in your HEAD tag ---------->

</head>

<body>
    <% include common/header.ejs %>
    <!-- Navigation -->
    <div class="row align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/images/food4.jpg" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
            <h1>Dear Visitors!</h1>
            <p>Welcome to BuyMeAvocado! Created by Tania & Kristina.
            </p>
            <p> The best website for simplyfing your shopping!</p>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <div style=" background-color: rgb(160, 38, 197);" class="card  my-5 py-4 text-center">
        <div class="card-body">
            <p> Enjoy your shopping with us and never forget to buy avocado &#x1f951; </p>
        </div>
    </div>
</body>

</html>