<div class="card" style="width: 10rem;">
    <div style="  background-image: url('<%= product.icon %>') ;" class="card-body">
        <h1> <span class="card-text" style="  background-image: url('<%= product.icon %>') ;"> <%= product.title %> </span></h1>
        <input type="hidden" class="details" value="Add details" style="width: 7rem;">
    </div>
</div>