<li class="d-flex flex-row justify-content-between">
    <div class="p-2"><%= product.title %></div>
     
    <div class="question">
        <input type="text" placeholder="Description"/>
       
      </div>
    <div id="prodPrice">
        <input type="text" placeholder="Price"/>$
    </div>
    <span class="close">x</span>
</li>